---
import Layout from '../layouts/Layout.astro';
import type { Temtem } from '../ts';
import TemtemList from '../components/react/TemtemList';
import temtems from '../../public/api/temtems.json'
// const response = await fetch('https://temtem-api.mael.tech/api/temtems')
const data:Temtem[] = temtems as Temtem[]
---

<Layout title="Tempedia">
	<main class="surface-1">
		<h1 >Welcome to <span class="text-gradient">Tempedia</span></h1>	
		<TemtemList client:load temtems={data}/>
	</main>
</Layout>
<style lang="sass">
main
	margin: auto !important
	padding: 1.5rem !important
	max-width: 60ch
	.wrapper
		display: flex
		flex-wrap: wrap
		>.temtem-avatar
			margin-right: 10px
	h1
		font-size: 3rem
		font-weight: 800
		margin: 0


	.text-gradient
		background-image: var(--accent-gradient)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		background-size: 400%
		background-position: 0%

	.instructions
		line-height: 1.6
		margin: 1rem 0
		border: 1px solid rgba(var(--accent), 25%)
		padding: 1rem
		border-radius: 0.4rem

		code
			font-size: 0.875em
			font-weight: bold
			background: rgba(var(--accent), 12%)
			color: rgb(var(--accent))
			border-radius: 4px
			padding: 0.3em 0.45em

		strong
			color: rgb(var(--accent))

	.link-card-grid
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr))
		gap: 1rem
		padding: 0
</style>
