.temtem-list
  display: flex
  flex-direction: column
  .main
    margin: 10px 0px
  .inputs
    display: flex
  .container
    display: flex
    flex-wrap: wrap
    >.temtem-avatar
      margin: 5px 5px
